/* Style for the section (grid container) */
section {
  width: 90%;
  margin: auto;
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Create a 4-column grid */
  grid-template-rows: auto;
  gap: 10px; /* Adjust the gap as needed */
}


  /* Style for the search bar */

  .search-bar input[type="text"],
  .search-bar select {
    border: 2px solid #33ff00; /* Add a border */
    border-radius: 20px; /* Rounded corners */
    padding: 10px 15px;
    margin: 10px;
    background-color: #ddf8e1;
    font-size: 16px;
  }
  
  /* Style for the drop-down */
  .search-bar select {
    padding: 10px 30px 10px 10px;
    background-color: #b10707;
    background-image: url("/public/arrow_drop_down.svg"); /* Replace with your own dropdown icon */
    background-position: 95% center;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
  }
  
/* Style for the cards */
.cards {
  width: 100%; /* Each card takes the full width of its container */
  max-width: 250px; /* Set a maximum width for the cards */
  display: inline-block;
  text-align: justify;
  text-align-last: end;
  background-color: #151414;
  color: #09ff00;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  height: auto; /* Set a fixed height for each card */
}

.cards:hover {
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.image_box {
  width: 100%;
  height: 180px; /* Set a fixed height for the image container */
  overflow: hidden;
  border-radius: 10px;
}

.image_box img {
  width: 100%;
  height: 100%; /* Ensure the image takes the full height of its container */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.details p:nth-child(1) {
  font-weight: bold;
  color: aqua;
}

details p:nth-child(2) {
  color: rgb(0, 255, 115);
  font-size: 0.8rem;
}

.details p:nth-child(3) {
  font-weight: bold;
  color: rgb(156, 0, 247);
}

/* Style for the button */
/* Style for the button */
.details button {
  padding: 10px;
  border-radius: 20px; /* Increase the border-radius for rounded corners */
  text-align: center;
  font-weight: bold;
  background-color: rgb(201, 0, 0);
  outline: none;
  cursor: pointer;
  border: none;
  color: #ffffff;
  font-size: 1.2rem;
  transition: background 0.3s, transform 0.3s; /* Add transition properties for background and transform */
}

/* Hover effect for the button */
.details button:hover {
  background-color: #00ff15; /* Change the background color to green on hover */
  transform: scale(1.1); /* Increase the size of the button on hover (1.1 is 10% larger) */
}
