.sign-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign-bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
}

.sign-header {
  position: relative;
  margin-top: 3vh;
  margin-left: 31%;
}

.sign-input {
  width: 100%; /* Set width to 100% */
  max-width: 400px; /* Added max-width to prevent excessive widening */
  padding: 12px 20px;
  margin: 10px auto; /* Centered the input horizontally */
  border: 1px solid rgb(90, 89, 89);
  border-radius: 25px;
  background: #fffbfb;
  text-align: center;
  box-sizing: border-box;
  display: block;
}





.sign-button {
  width: 50%;
  max-width: 200px;
  padding: 14px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin: 10px auto;
}

.sign-button-submit {
  background-color: #0dc007;
  color: white;
  width: 1200%;
}

.sign-button-other {
  background-color: #df0b0b;
  color: white;
}

.sign-button:hover {
  background-color: #e4ef17;
}

.label-bg {
  background-color: white;
}

.error-message {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2vh;
}
